.campo-entrada{
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4A4949;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;   
    padding: 8px 16px;
}
.campo-entrada::placeholder{
    color: #4A4949
}