.divEvento{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 282px;
    color: white;
}

.divEvento p,
.divEvento h4{
    margin: 0;
}

.divEvento .corpoEvento{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.divEvento .tag{
    background-color: #4A4949;
    border-radius: 4px;
    padding: 8px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 10%;
}
.divEvento .data{
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
}

.divEvento .titulo{
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
}

.divEvento .descricao{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}



